:root {
  font-family: "Courier New", Courier, monospace;
  --fontSizeTitle: 1.5rem;
  --fontSizeHeader: 2rem;
  --slate0: #f8fafc;
  --slate5: #64748b;
  --slate6: #475569;
  --slate7: #334155;
  --neutral2: #e5e5e5;
  --neutral5: #737373;
  --zinc2: #f4f4f5;
  --outerGap: 2rem;
  --innerGap: 0.5rem;
  --outerPadding: 0.5rem;
  --innerPadding: 1rem;
  --borders: 1px dotted black;
}

html {
  min-height: 100vh;
}
body {
  min-height: 100%;
}

h2,
h3,
h4,
p,
body {
  margin: 0;
  padding: 0;
}

button {
  background-color: inherit;
  border: none;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--slate7);
  font-size: var(--fontSizeTitle);
  color: white;
}

/*Center entire div*/
.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--outerGap);
}
.sectionTitle {
  font-size: var(--fontSizeTitle);
  background-color: var(--neutral5);
  background-color: var(--slate5);
  color: white;
  width: 100%;
}
/*ensures that each section has the same width */
.personalForm,
.experienceForm,
.educationForm,
.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--outerPadding);
  min-width: 90vw;
  max-width: 90vw;
  border: var(--borders);
}
.personalForm,
.experienceForm,
.educationForm,
.innerFormDiv {
  background-color: var(--zinc2);
}

.formBtn,
.addBtn {
  background-color: yellow;
}

.innerFormDiv {
  padding: var(--innerPadding);
}

.printBtn {
  border: var(--borders);
  border-radius: 15%;
  font-size: var(--fontSizeTitle);
  background-color: var(--slate7);
  color: white;
  width: 10vw;
}
.textfield {
  display: flex;
  justify-content: space-between;
}

.textfieldWrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--innerGap);
}
