:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --fontSizeTitle: 1.5rem;
  --fontSizeHeader: 2rem;
  --slate0: #f8fafc;
  --slate5: #64748b;
  --slate6: #475569;
  --slate7: #334155;
  --complementarySlate5: #ab6731;
  --neutral2: #e5e5e5;
  --neutral5: #737373;
  --zinc2: #f4f4f5;
  --lime5: #84cc16;
  --green5: #22c55e;
  --rose5: #f43f5e;
  --purple5: #a855f7;
  --indigo5: #6366f1;
  --blue5: #3b82f6;
  --outerGap: 1rem;
  --innerGap: 0.5rem;
  --miniGap: 0.3rem;
  --miniPadding: 0.3rem;
  --outerPadding: 0.5rem;
  --innerPadding: 1rem;
  --borders: 1px dotted black;
}

html {
  min-height: 100vh;
}
body {
  min-height: 100%;
}

.App {
  min-height: 100%;
  max-width: 100vw;
}

h2,
h3,
h4,
h5,
h6,
p,
body,
fieldset {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: var(--fontSizeTitle);
}

button {
  background-color: inherit;
  border: none;
}

input {
  max-width: 25vw;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--miniGap);
}
.header {
  background-color: var(--slate7);
  font-size: var(--fontSizeTitle);
  color: white;
  padding: var(--outerPadding);
}

.sectionTitle {
  align-self: center;
  display: flex;
  gap: var(--miniGap);
}
.personalForm,
.skillForm,
.experienceForm,
.educationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--innerGap);
  padding: var(--outerPadding);
}
.skillForm {
  flex-direction: row;
}
.innerFormDiv {
  display: flex;
  gap: var(--outerGap);
  padding: var(--miniPadding);
}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--miniGap);
}
.btnContainer {
  display: flex;
}

.addBtn {
  margin-top: 0.3rem;
  align-self: center;
}

.textfield {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--outerGap);
}
.aboutMe {
  align-self: center;
}
.textAboutMe {
  min-height: 5vh;
  min-width: clamp(500px, 35rem, 40vw);
}

.formBtn {
  margin-top: 2rem;
}

/* 


.personalForm,
.experienceForm,
.educationForm,
.innerFormDiv {
  background-color: var(--zinc2);
}

label {
  display: flex;
  flex-direction: column;
  gap: var(--innerGap);
}

.formBtn,
.addBtn {
  background-color: var(--slate5);
  padding: var(--outerPadding);
  border: var(--borders);
  color: white;
}

.innerFormDiv {
  display: flex;
  flex-direction: column;
  padding: var(--innerPadding);
  gap: var(--outerGap);
}

.printBtn {
  border: var(--borders);
  padding: var(--outerPadding);
  border-radius: 15%;
  font-size: var(--fontSizeTitle);
  background-color: var(--slate7);
  color: white;
  width: 10vw;
}

.textfield {
  display: flex;
  justify-content: space-between;
  padding: var(--outerPadding);
  gap: var(--outerGap);
  min-width: 90vw;
  max-width: 90vw;
  border: var(--borders);
}

.textfieldWrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--innerGap);
  max-width: 90vw;
}

.uploadArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  align-self: flex-start;
  flex: 0;
}
.cvImg {
  border: 1px solid black;
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
}
.textfieldWrapper {
  flex: 1;
  margin-bottom: 2.5rem;
}

.removeWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.photoTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

Prevents overflowing inside img
.imgInpt {
  max-width: 50px;
  font-size: 8px;
}


 Prevents overflow on print mode 
.printWarning {
  padding: var(--outerPadding);
  max-width: 85vw;
} */ ;
